#one {
    float: left;
   padding: 3% 20%;
   border-radius: 50%;
}

.fon{
    background: #c8d3d2;
    }

#cont {

}

#center {
    text-align: center;
}

#two {
    padding: 3%;
}

p {
    font-size: 24px;
}